<script type="text/javascript">
    $(document).ready(function () {

        BuildCalendar();

    });
</script>



@*<table>
        <tr>
            <td><div style="vertical-align: top;margin: 20px; width: 200px;">
                Unscheduled Tasks:
                <div id="taskList" style="cursor: pointer;"></div>
            </div></td>
            <td>
                <div id="calendar"></div>
            </td>
        </tr>
    </table>*@
<div>
    <div style="float: left;width: 200px; max-width: 200px;height: 93vh;overflow-y: scroll; overflow-x: hidden; position: absolute;margin-left: 20px;margin-right:10px">
        Unscheduled Tasks:
        <div id="taskList" style="cursor: pointer; width: 170px;"></div>

    </div>
    <div style="float: right; width:calc(100% - 230px)">
        <div id="calendar"></div>
    </div>
</div>

<div id="newItemDialog" style="display: none" title="New Item">
    <form>
        <fieldset>
            <label for="itemDate">Date</label>
            <input type="text" id="itemDate" disabled class="text ui-widget-content ui-corner-all"/><br/>
            <label for="itemTitle">Title</label>
            <input type="text" id="itemTitle" class="text ui-widget-content ui-corner-all"/><br />
            <label for="itemApp">App</label>
            <select id="itemApp" class="text ui-widget-content ui-corner-all">
                <option>Toodledo</option>
            </select><br />
            <input type="submit" id="itemSubmit"/>
        </fieldset>
    </form>
</div>

