<script type="text/javascript">
    $(document).ready(function () {

        BuildCalendar();


	});
</script>



<div class="row">
    <div id="calendar"></div>
</div>

<div id="newItemDialog" style="display: none" title="New Item">
    <form>
        <fieldset>
            <label for="itemDate">Date</label>
            <input type="text" id="itemDate" disabled class="text ui-widget-content ui-corner-all"/><br/>
            <label for="itemTitle">Title</label>
            <input type="text" id="itemTitle" class="text ui-widget-content ui-corner-all"/><br />
            <label for="itemApp">App</label>
            <select id="itemApp" class="text ui-widget-content ui-corner-all">
                <option>Toodledo</option>
            </select><br />
            <input type="submit" id="itemSubmit"/>
        </fieldset>
    </form>
</div>

